<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--声明student对象
        给属性赋值
            1. set(注入) 设值注入
                调用set方法
          简单类型
                <bean id="myStudent" class="com.bjpowernode.ba01.Student">
                            <property name="name" value="张三"></property>
                    </bean>

    -->
    <bean id="myStudent" class="com.bjpowernode.ba01.Student">
        <property name="name" value="张三"></property>
        <property name="age" value="20"></property>
        <property name="email" value="www@qq.com"></property>
    </bean>

    <bean id="myDate" class="java.util.Date">
        <property name="time" value="98654165132"></property>
    </bean>

</beans>
